html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
  margin-bottom: 150px;
  background-color: #ededed;
}

@media only screen and (max-width: 767px) {
  /* Set background color to white on small screens */
  body {
    /* Visual */
    background-color: #fff;
  }
}

.navbar-custom {
  background-color: #fff;
  /* font-size: 17px; */
}

/* .navbar-custom a:hover {
  background-color: #ddd;
  color: black;
} */

/* .navbar-right-custom {
  /* Box-model */
  /* padding-top: 6px;
  padding-right: 20px; */
  /* Typography */
  /* font-family: Arial;
  font-weight: lighter; */
/* } */

/* .nav-item {
  display: inline;
  float: left;
   } */

#logo {
  /* Box-model */
  height: 60px;
  padding-top: 20px;
  padding-bottom: 5px;
  /* Positioning */
  margin-left: 70px;
  font-family: Georgia, Times, "Times New Roman", serif;
  /* Typography */
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  /* Visual */
  background: #4AAAA5;
}
/* Logo hover state */
#logo:hover {
  /* Visual */
  opacity: 0.7;
}

.nav-right {
  float: right;
  color: rgb(156, 151, 151);
  font-family: Arial;
  font-weight: lighter;
  padding: 14px 16px;
}

@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4AAAA5;
  }
  #logo {
    width: 100%;
    /* Box-model */
    height: 60px;
    padding-top: 20px;
    padding-bottom: 5px;
    /* Positioning */
    margin-left: 0;
    font-family: Georgia, Times, "Times New Roman", serif;
    /* Typography */
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    /* Visual */
    background: #4AAAA5;
  }
}

@media only screen and (max-width: 767px) {
  /* override default class styling for positioning/padding */
  .description-content {
    /* Box-model */
    padding: 0;
    /* Positioning */
    margin-top: 0;
  }
}
/* ----DESCRIPTION END---- */
/* ----IMAGE NAV START---- */
.imageNav-area {
  width: 100%;
  padding: 30px 30px 43px;
  margin-top: 32px;
  background-color: #fff;
}
.imageNav-header {
  margin-bottom: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  font-weight: bold;
  color: #4AAAA5;
}
.imageNav-photo {
  width: 140px;
  height: 140px;
}
.imageNav-photo:hover {
  opacity: 0.6;
}
.imageNav-photo.active {
  border: 2px solid #4AAAA5;
}
#images {
  /* Box-model */
  padding-top: 15px;
  /* Typography */
  text-align: center;
}
/* ----IMAGE NAV END---- */
/* ----COMPARISON START---- */
.comparison-image:hover {
  opacity: 0.6;
}
.comparison-header {
  /* Positioning */
  margin-bottom: 10px;
  font-family: Georgia, Times, "Times New Roman", serif;
  /* Typography */
  font-size: 20px;
  font-weight: bold;
  color: #4AAAA5;
  text-align: center;
}

.description-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;
  /* Typography */
  font-size: 32px;
  font-weight: bold;
  color: #4AAAA5;
}
.description-content {
  /* Box-model */
  padding: 30px;
  /* Positioning */
  margin-top: 32px;
  /* Visual */
  background-color: #fff;
}
.description-content > p {
  /* Box-model */
  padding-top: 20px;
  /* Typography */
  font-size: 16px;
  line-height: 30px;
  color: slategray;
}
.description-text {
  padding-bottom: 20px;
}
#description-image {
  /* Positioning */
  float: left;
  /* Box-model */
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}

.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;
  /* Box-model */
  width: 100%;
  height: 60px;
  margin-top: 30px;
  /* Visual */
  background-color: #666;
}



/* header {
  background: rgb(248, 249, 250);;
}

.outer-container {
  background: rgb(235, 243, 213);
  width: 100%;
}

.container {
  background: rgb(248, 249, 250);
}

@media (max-width: 1200px) {
.container {
    width: 70%;
} 
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: rgb(0, 0, 0);
  text-align: center;
}

h2 {
  font-size: 24px;
}

a {
  color: #0c3fe7;
}


/* Nav element hover state */
/* .navbar-default .navbar-nav > li > a:hover {
  color: #4AAAA5;
}



.text-muted-footer {
  /* Positioning */
  /* margin-top: 15px;
  /* Typography */
  /* color: #fff;
} */

/* .two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;
  /* Visual */
  background-color: #4AAAA5;
} */
/* 
card-body {
  float: left;
  position: relative;
}

card-title {
  font-size: 10px;
  color: --success;
}

front-page-image {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  float: left;
} */

/* h5, .h5 {
  font-size: 1rem;
}  */